<h2>Empréstimos de {{epiName}}</h2>
<app-list-component [columns]="columns" [data]="loans" *ngIf="hasLoans"></app-list-component>

<div *ngIf="loading">
    <p>Carregando</p>
</div>

<div *ngIf="error">
    <p>Ocorreu um erro ao carregar empréstimos</p>
</div>

<div *ngIf="!hasLoans && !loading && !error">
    <p>Esse EPI não possui empréstimos</p>
</div>

<button (click)="createLoan()">Criar empréstimo</button>
<button (click)="updateEpi()">Editar EPI</button>
<button (click)="removeEpi()">Remover EPI</button>