<nav>
  <ul>
    <li *ngIf="!isLoggedIn()">
      <a routerLink="/">Login</a>
    </li>
    <li *ngIf="isLoggedIn()">
        <a (click)="logout()">Sair</a>
    </li>


    <li *ngIf="isAdmin()">
      <a routerLink="/register">Cadastrar Usuários</a>
    </li>
    <li *ngIf="isAdmin()">
      <a routerLink="/epiForm">Criar EPI</a>
    </li>
    <li *ngIf="isAdmin()">
        <a routerLink="/users">Usuários</a>
    </li>
        <li *ngIf="isAdmin()">
        <a>Empréstimos</a>
    </li>
    <li *ngIf="isAdmin()">
        <a>Devoluções</a>
    </li>

    <li *ngIf="!isAdmin()">
        <a>Meus empréstimos</a>
    </li>
   <li *ngIf="!isAdmin()">
        <a>Minhas devoluções</a>
   </li>

  </ul>
</nav>
